<h1>Bienvenido a la Tienda de Helados 🍦</h1>

<div class="helados-container">
  <div class="card" id="vainilla" (click)="mostrarInfo('vainilla')">
    <img src="https://images.unsplash.com/photo-1599785209707-d1913c4c3429?auto=format&fit=crop&w=400&q=80" alt="Vainilla Clásica">
    <h2>Vainilla Clásica</h2>
    <p>Suave, cremosa y con un toque dulce.
      <strong>Ingredientes:</strong> Leche, azúcar, esencia de vainilla, crema.
    </p>

  </div>

  <div class="card" id="chocolate" (click)="mostrarInfo('chocolate')">
    <img src="https://images.unsplash.com/photo-1625395101687-9c7a07f88f69?auto=format&fit=crop&w=400&q=80" alt="Chocolate Intenso">
    <h2>Chocolate Intenso</h2>
    <p>Rico en cacao y sabor profundo.
      <strong>Ingredientes:</strong> Leche, cacao puro, azúcar, crema.
    <strong>Proceso:</strong> Derretir el cacao, mezclar con leche, batir y congela
    </p>
  </div>

  <div class="card" id="fresa" (click)="mostrarInfo('fresa')">
    <img src="https://images.unsplash.com/photo-1612197528577-cbaaaa98c1cd?auto=format&fit=crop&w=400&q=80" alt="Fresa Natural">
    <h2>Fresa Natural</h2>
    <p>Refrescante y con trozos de fruta real.
      Ingredientes:Fresas frescas, leche, azúcar, crema.</p>
    <p><strong>Proceso:</strong> Triturar las fresas, mezclar, batir y congelar.</p>


</div>

<h2>Videos de apoyo para la elebaoracion (❁´◡`❁)</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/08qCIJhYyr8?si=QGb_6qJD1CGSrRtq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



<iframe width="560" height="315" src="https://www.youtube.com/embed/A_XjSLmdQCI?si=y5CbwfmvKdJpk6uO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



<iframe width="560" height="315" src="https://www.youtube.com/embed/cYIUuoAKpxg?si=G0Gor9tNyTjev_qu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>





